.btn-quick-alo-phone.btn-quick-alo-show {
  visibility: visible;
}
.btn-quick-alo-ph-img-circle {
  width: 75px;
  height: 75px;
  top: 70px;
  left: 70px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: btn-quick-alo-circle-img-anim 1s ease-in-out infinite;
  animation: btn-quick-alo-circle-img-anim 1s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.btn-quick-alo-phone {
  position: fixed;
  visibility: hidden;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  bottom: 95px;
  right: 0;
}
.btn-quick-alo-ph-circle,
.btn-quick-alo-phone {
  background-color: transparent;
  width: 80px;
  height: 80px;
}
.btn-quick-alo-ph-circle {
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #bfebfc;
  opacity: 0.1;
  -webkit-animation: btn-quick-alo-circle-anim 1.2s ease-in-out infinite;
  animation: btn-quick-alo-circle-anim 1.2s ease-in-out infinite;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-circle {
  border-color: #00a1ff;
  opacity: 0.5;
}
.btn-quick-alo-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: #000;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: btn-quick-alo-circle-fill-anim 2.3s ease-in-out infinite;
  animation: btn-quick-alo-circle-fill-anim 2.3s ease-in-out infinite;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-circle-fill {
  background-color: rgba(0, 161, 255, 0.5);
  background-color: #a6e3fa;
  opacity: 0.75 !important;
}
.btn-quick-alo-ph-img-circle {
  width: 40px;
  height: 40px;
  background-size: 30px;
  top: 20px;
  left: 20px;
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-img-circle {
  background-color: #00a1ff;
}
.btn-quick-alo-phone.btn-quick-alo-hover,
.btn-quick-alo-phone:hover {
  opacity: 1;
}
.btn-quick-alo-phone.btn-quick-alo-green.btn-quick-alo-hover
  .btn-quick-alo-ph-img-circle,
.btn-quick-alo-phone.btn-quick-alo-green:hover .btn-quick-alo-ph-img-circle {
  background-color: #ff5a00;
}
.btn-quick-alo-phone.btn-quick-alo-green.btn-quick-alo-hover
  .btn-quick-alo-ph-circle-fill,
.btn-quick-alo-phone.btn-quick-alo-green:hover .btn-quick-alo-ph-circle-fill {
  background-color: rgba(255, 118, 0, 0.5);
  background-color: #baf5a7;
  opacity: 0.75 !important;
}
.btn-quick-alo-ph-circle {
  border-color: #00a1ff;
  opacity: 0.5;
}
@-webkit-keyframes btn-quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  to {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes btn-quick-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes btn-quick-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-webkit-keyframes btn-quick-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  to {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
.btn-quick-mail-phone.btn-quick-mail-show {
  visibility: visible;
}
.btn-quick-mail-ph-img-circle {
  width: 75px;
  height: 75px;
  top: 70px;
  left: 70px;
}
.btn-quick-mail-phone {
  position: fixed;
  visibility: hidden;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  right: 0;
  bottom: 180px;
}
.btn-quick-mail-ph-circle,
.btn-quick-mail-phone {
  background-color: transparent;
  width: 80px;
  height: 80px;
}
.btn-quick-mail-ph-circle {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #bfebfc;
  opacity: 0.1;
  -webkit-animation: btn-quick-alo-circle-anim 1.2s ease-in-out infinite;
  animation: btn-quick-alo-circle-anim 1.2s ease-in-out infinite;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-circle {
  border-color: #00a1ff;
  opacity: 0.5;
}
.btn-quick-mail-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: #000;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: btn-quick-mail-circle-fill-anim 2.3s ease-in-out infinite;
  animation: btn-quick-mail-circle-fill-anim 2.3s ease-in-out infinite;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-circle-fill {
  background-color: rgba(0, 161, 255, 0.5);
  background-color: #a6e3fa;
  opacity: 0.75 !important;
}
.btn-quick-mail-ph-img-circle {
  width: 40px;
  height: 40px;
  background-size: 30px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: btn-quick-mail-circle-img-anim 1s ease-in-out infinite;
  animation: btn-quick-mail-circle-img-anim 1s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-img-circle {
  background-color: #00a1ff;
}
.btn-quick-mail-phone.btn-quick-mail-hover,
.btn-quick-mail-phone:hover {
  opacity: 1;
}
.btn-quick-mail-phone.btn-quick-mail-green.btn-quick-mail-hover
  .btn-quick-mail-ph-img-circle,
.btn-quick-mail-phone.btn-quick-mail-green:hover .btn-quick-mail-ph-img-circle,
.edit_btn_quick_mess_phone:hover .icon-facebook {
  background-color: #ff5a00;
}
.btn-quick-mail-phone.btn-quick-mail-green.btn-quick-mail-hover
  .btn-quick-mail-ph-circle-fill,
.btn-quick-mail-phone.btn-quick-mail-green:hover
  .btn-quick-mail-ph-circle-fill {
  background-color: rgba(255, 118, 0, 0.5);
  background-color: #baf5a7;
  opacity: 0.75 !important;
}
.btn-quick-mail-ph-circle {
  border-color: #00a1ff;
  opacity: 0.5;
}
@-webkit-keyframes btn-quick-mail-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  to {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes btn-quick-mail-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes btn-quick-mail-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-webkit-keyframes btn-quick-mail-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  to {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-img-circle,
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-img-circle {
  opacity: 1;
}
.quick-alo-green .quick-alo-ph-circle {
  border-color: #c01111 !important;
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-circle,
.btn-quick-facebook-phone.btn-quick-facebook-green
  .btn-quick-facebook-ph-circle,
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-circle {
  border-color: #c01111;
}
.quick-alo-green .quick-alo-ph-circle-fill,
.quick-alo-green .quick-alo-ph-img-circle {
  background-color: #c01111 !important;
}
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-circle-fill,
.btn-quick-alo-phone.btn-quick-alo-green .btn-quick-alo-ph-img-circle,
.btn-quick-alo-phone.btn-quick-alo-green:hover .btn-quick-alo-ph-img-circle,
.btn-quick-facebook-phone.btn-quick-facebook-green
  .btn-quick-facebook-ph-circle-fill,
.btn-quick-facebook-phone.btn-quick-facebook-green:hover
  .btn-quick-facebook-ph-img-circle,
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-circle-fill,
.btn-quick-mail-phone.btn-quick-mail-green .btn-quick-mail-ph-img-circle,
.btn-quick-mail-phone.btn-quick-mail-green:hover .btn-quick-mail-ph-img-circle {
  background-color: #c01111;
}
.btn-quick-facebook-phone.btn-quick-facebook-green
  .btn-quick-facebook-ph-img-circle {
  background-color: #c01111;
  opacity: 1;
}
